
         body {
            display: flex;
            padding-top: 3cm;
            justify-content: center;
            align-items: center;
            height: 60vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            background-color: #333;
            background-image: url('ed.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        
                /* padding: 90px 16% 9px; */
            
        }
        
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            
        }
        
       .form-box {
            
            width: 300px;
            padding: 30px;
            height: 60vh;
            /* background-color: rgba(214, 206, 206, 0.8); Make form box semi-transparent */
              background-color: rgba(255, 255, 255, 0.212); 
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.582);
            opacity: 80%;
            border-radius: 40px;
            position: absolute;
            transition: transform 0.5s ease, opacity 0.5s ease;
        } 
      
        
        .hidden {
            opacity: 0;
            transform: scale(0.9);
            pointer-events: none;
        }
        
        .login-form {
            z-index: 1;
        }
        
        .signup-form {
            opacity: 0;
            transform: scale(2);
            pointer-events: none;
        }
        
        #toggle:checked ~ .form-container .login-form {
            opacity: 0;
            transform: scale(0.9);
            pointer-events: none;
        }
        
        #toggle:checked ~ .form-container .signup-form {
            opacity: 1;
            transform: scale(1);
            pointer-events: auto;
        }
        
        .form-value {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        
        h2 {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .inputbox {
            position: relative;
            padding: 7%;
        }
        
        .inputbox ion-icon {
            position: absolute;
            left: 35px;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .inputbox input {
            width: 80%;
            padding: 10px 10px 10px 40px;
            border: 1px solid rgb(36, 23, 23);
            border-radius: 70px;
        }
        
        .inputbox label {
            position: absolute;
            top: 50%;
            left: 60px;
            transform: translateY(-50%);
            transition: 0.3s;
            pointer-events: none;
            color: rgb(160, 153, 153);
        }
        
        .inputbox input:focus + label,
        .inputbox input:valid + label {
            top: 5px;
            left: 40px;
            font-size: 12px;
            color: rgb(17, 17, 17);
        }
        
        .forget {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4%;
        }
        
        .forget a {
            text-decoration: none;
            color: #050505;
        }
        
        button {
            padding: 14px;
            width: 88%;
            border: none;
            background-color: #0d7bc4;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-left: 0.5cm;
        }
        
        button:hover {
            background-color: #005f99;
        }
        
        .register {
            text-align: center;
        }
        
        .register a {
            text-decoration: none;
            color: #007acc;
        }
        



          
      